* {
  box-sizing: border-box;
}

:root {
  --light: #b6bbcb;
  --light-yellow: #eee4e7;
  --dark: #151728;
  --dark-blue: #2d2d4a;
  --light-blue: #938fb2;
  --blue: #5c587a;
  --primary: #7f5686;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  background-image: url("./assets/bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: "Poppins", sans-serif;
}

.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  min-height: 50vh;
  background-color: var(--light-yellow);
  border-radius: 15px;
  box-shadow: -6px 10px 31px 3px var(--light);
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.loader {
  width: 300px;
  height: 300px;
  margin: 0 auto;
}

.loader img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.rotatable {
  transition: transform 400ms ease-in-out;
}

.rotate {
  animation: rotateAnimation 400ms infinite;
}

@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.title h1 {
  color: var(--primary);
  font-size: 2.5rem;
  text-align: center;
  margin: 0;
  padding: 0;
}

.title h2 {
  color: var(--dark-blue);
  font-size: 1.5rem;
  text-align: center;
  margin: 0;
  padding: 0;
}

.description {
  color: var(--dark-blue);
  font-size: 1.2rem;
  text-align: center;
  margin-top: 20px;
  padding: 0;
  font-style: italic;
}

.date {
  display: block;
  width: 100%;
  border: 1px solid var(--primary);
  height: 50px;
  outline: none;
  padding: 0 10px;
  font-size: 1.1rem;
  border-radius: 15px;
  background-color: transparent;
  color: var(--dark-blue);
}

.button {
  display: block;
  width: 100%;
  border: none;
  height: 50px;
  outline: none;
  padding: 0 10px;
  font-size: 1.1rem;
  border-radius: 15px;
  background-color: var(--primary);
  color: var(--light-yellow);
  cursor: pointer;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.form {
  /* margin-top: 70px; */
}

#poruka {
  z-index: 100;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  min-height: 50vh;
  background-color: var(--light-yellow);
  border-radius: 15px;
  box-shadow: -6px 10px 31px 3px var(--light);
  padding: 10px 20px;
}

#poruka h4 {
  color: var(--primary);
  font-size: 2rem;
  text-align: center;
  margin: 0;
  padding: 0;
}

#image-sign {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  display: block;
}

#message {
  color: var(--dark-blue);
  font-size: 1.2rem;
  text-align: center;
  margin-top: 20px;
  padding: 0;
  font-style: italic;
}

#img-hana {
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin: 0 auto;
  display: block;
  max-height: 350px;
}

.hidden {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  min-width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
}

#error-message {
  color: var(--primary);
  font-size: 1.1rem;
  text-align: center;
  margin-top: 20px;
  padding: 0;
  font-style: italic;
}
